  
  <strong>Edit User:</strong><br><br>

  <%= form_with model: @user do |form| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label(:username) %>
    <%= form.text_field :username  %> <br>
    <%= form.label(:email) %>
    <%= form.text_field :email %> <br>
    <%= form.label(:Password) %>
    <%= form.text_field :password  %> <br>
    <%= form.submit "Update" %>
  <% end %>